/* MEDIA QUERIES FOR 576PX AND ABOVE */
/* Only use the breakpoint necessary to your project */

@media all and (max-width:1200px) {
    .about-text{
        margin-top: 50px;
        text-align: center;
    }
    .about-img{
        margin: auto;
    }
    .nav-item{
        text-align: left;
        padding-right: none;
    }
   
}

@media all and (max-width:992px) {
    header .nav-item{
        font-size: 18px;
    }
    #navbar{
        display: none;
    }
    .footer-brand{
        margin: auto;
    }
    .footer-line{
        display: none;
    }
    .footer-text{
        text-align: center;
    }
    .footer-icon{
        text-align: center;
        margin: auto;
    }
    .icon{
        float: none !important;
        text-align: center;
        text-align: center;
        margin: auto;
    }
    .icon p  i{
        text-align: center;
        
    }
}

@media all and (max-width:768px) {
    .about-text p{
        font-size: 16px;
        line-height: 26px;
    }
    form{
        width: 100%;
    }
    .contact{
        text-align: center;
    }
    .line{
        margin: auto;
    }
   
}

@media all and (max-width:576px) {
    
    .bg{
        height: 760px
    }
    .header-text{
        top: 50%
    }
    .header-text  h5{
        font-size: 35px;
        line-height: 46px;
        font-weight: 550;
    }
    .header-text p{
        font-size: 15px;
    }
    .about-text{
        text-align: center;
    }
    .card-deck{
        margin-left: 0px;
    }
    form{
        margin: auto;
        width: 100%;
    }
    .line{
        width: 100%;
    }
 
    
}




