* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body p{
   font-size: 18px;
}
header .nav-item{
  padding-left: 57px;
  padding-bottom: 15px;
}
.nav-link{
  font-size: 18px;
}
.bg{
  background: url(https://res.cloudinary.com/olasumboeniola/image/upload/v1594205582/Rectangle_1_1_vqwapd.png) center no-repeat;
  position: relative;
  background-size: cover;
  height: 100vh;
}
.filter{
  background: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
.header-text{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.header-text h5{
  font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
}
.header-text p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;  
}
.learn-more{
  color: white;
  background: #FF7D05;
border-radius: 5px;

}
.about-text{
  margin-top: 100px;
}
.about-text h5{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #333333;  
}
.about-text p{
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color: #333333;
}
.services{
  margin-top: 150px;
}

.card-text h4{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #333333;  
}
.card-text p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;  
}
#albums{
  background: #FEFAF5;
  margin-top: 150px;
 
}
.album{
padding-top: 100px;
padding-bottom: 100px;
}
.album-card{
background-color: transparent;
  border: none;
}
.release{
  margin-top: 93px;
}
.card-columns{
  margin: auto;
}
#blog{
  background: #FEFAF5;

}
.line{
  border: 1px solid #000000;
  height: 0.1px;
  width: 250px;
}

.bg-footer{
  background: url(https://res.cloudinary.com/olasumboeniola/image/upload/v1594200518/Rectangle_28_bevar0.png);
  height: 50vh;
  position: relative;
  
}
.input-group input{
  background: transparent !important;
}
.input-group .learn-more{
  border-radius: 0;
}
footer{
  background: #000000;
}
.footer-content{
  padding-top: 100px;
}
.footer-line{
  border: 0.1px solid #FFFFFF;
  height: 2px;
 margin-top: 15px;
  
}
.icon{
  float: right;
  color: #FF7D05;
  padding-right: 20px;
}
.song{
  padding-top: 20px;
}