@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
body{
  position: relative;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
header .navbar{
  background: #000000;
}
header .nav-item{
  padding-right: 65px;
}
header .nav-link{
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;  
}
.navbar .nav-item .nav-link:hover{
  color: #FF7D05;
}

/*seCTION GOES IN HERE*/
.bg{
  background: url(https://res.cloudinary.com/olasumboeniola/image/upload/v1594205582/Rectangle_1_1_vqwapd.png) center no-repeat; 
  height: 760px;
  background-size: cover;
  position: relative;
}
.filter{
  background: #000000;
opacity: 0.7;
height: 100%;
}
.header-text{
  font-family:  'Open Sans';
  position: absolute;
  top: 336px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-text h4{
  font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
text-align: center;
color: #FFFFFF;
}
.header-text p{
  font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
text-align: left;
}
.header-btn{
  width: 164px;
  height: 58px;
  background: #FF7D05;  
  border-radius: 0;
  color: #FFFFFF;
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;

}

#about-me{
  padding-top: 78px;
  padding-left: 80px;
  padding-right: 80px;
}
.about-text{
  padding-top: 45px;
  padding-left: 2.5rem;
}
.about-text h4{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height, or 100% */
  
  
  color: #333333;  
}
.about-text p{
  padding-top: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  
  
  color: #333333;
  
}
.about-btn{
  width: 157px;
  height: 58px;
  left: 720px;
  top: 1466px;
  margin-top: 25px;
 color: #FFFFFF;
  background: #FF7D05;  
  font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
border-radius: 0;
}
.service-card{
  background: #FFFFFF;
  border: 1.01208px solid #333333;
}
.service-card h6{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  
  
  color: #333333;
  }
  .service-card p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    
    
    color: #333333;
       
  }
  #albums{
    background: #FEFAF5;
    margin-top:30px;
  
  }
  .album-sec {
    padding-left:80px;
    padding-right: 80px;
    padding-top: 54px;
  }
  .album-col{
    margin-top: 35px;
  }
  .album-card{
    border-radius: 0;
     border: none;
    margin-bottom: 93px !important;
    background: transparent !important;
  }
  .album-text{
    padding-top: 23px;
  }
  .album-text h5{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #333333;   
  }
  .album-text p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #333333;   
   height: 60px;
   padding-right: 50px;
   text-align: justify;
  }
  .latest{
    padding-left: 80px;
    padding-right: 80px;
  }
  .release{
    margin-top: 32px;
  }
  .release h5{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #333333;  
  }
  .release p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;  
  }
  .release-col{
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 38px;
  }
  .release-card-sec{
    border-radius: 0;
  }
  .release-card{
    border-radius: 0;
    border: none;
    background: transparent !important;
  }
  .release-text{
    padding-top: 23px;
    
  }
  .release-text h5{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;   
   color: #000000;
  }
  .release-text p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #333333;   
  }
  #blog{
    margin-top: 43px;
    background: #FEFAF5 !important;
  }
  .blog-col{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 37px;
    padding-bottom: 47px;
  }
  .blog-card{
    background: transparent;
    border: none;
  }
.blog-text{
  padding-top: 36px;
}
.blog-text h5{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;  
  color: #333333;
}
.blog-text p{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #333333;  
  padding-right: 70px;
}
.contact-sec{
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 41px;
}
.contact-sec h5{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #333333;
  
}
.contact-sec p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px  
}
.form-sec{
  padding-top: 60px;
}
form{
  text-align: left;
}
.form-sec input{
  border-radius: 0 !important;
  height: 100px;
  border: 1px solid #333333 !important;
}
.form-sec textarea{
  height: 382px;
  border: 1px solid #333333 !important;
}
.form-sec .contact-info{
  padding-left: 100px;
  padding-top: 20px;
}
.contact-info h6{
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
color: #333333;
}
.contact-info p{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  
  color: #333333;
  
}
.contact-btn{
  width: 186px;
height: 58px;
background: #FF7D05;
color: #FFFFFF;
border-radius: 0;
}
.line{
  width: 250px;
  border: 1px solid #000000;
}
.sub{
  margin-top: 100px;
}
.bg-footer{
  background:url(https://res.cloudinary.com/olasumboeniola/image/upload/v1594200518/Rectangle_28_bevar0.png)  center no-repeat;
  height: 424px;
  position: relative;
  background-size: cover;
  background-blend-mode: luminosity;
}
.bg-footer h6{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;

}
.foot-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

}
.input-group input{
  background: transparent !important;
  border: 2px solid #FFFFFF !important;
 
}
.col-9{
  margin: auto;
  padding-bottom: -20% !important;
}
.input-group{
  margin: auto !important;
  
}
input.form-controwi ::placeholder{
  color: #E8DFE8;
}
.news-btn{
  color: #FFFFFF;
  background: #FF7D05 !important;
  width: 155px;
  border-radius: 0;
}
/*
AND IT ENDS HERE*/

footer{
  background: #000000;
  height: 341px;

}

.footer-content{
  padding-left: 2rem;
  padding-right: 2rem;
 padding-top: 105px;
}
footer .nav-link{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.903504);
    
}
.footer-line{
  border: 0.5px solid #FFFFFF;
  height: 0.1px;

}
.footer-text{
  padding-top: 22.23px;
margin: auto;
}
.footer-text p{
  margin-left: -1.5rem;
  font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
}
.icon-list{
margin-right: -1.8rem !important;
  list-style-type: none;
}
.icon-list li{
  float: right;

}
.icon-list li a{
  text-align: center;
  color: #FF7D05;

}
.footer-content .navbar-brand{
  margin-left: -1rem;
}