* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

.nav-item{
  padding-left: 57px;

  padding-bottom: 15px;
}
.nav-link{
  font-size: 18px;
}
.bg{
  background: url(https://res.cloudinary.com/olasumboeniola/image/upload/v1594205582/Rectangle_1_1_vqwapd.png) center no-repeat;
  position: relative;
  background-size: cover;
  height: 100vh;
}
.filter{
  background: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
.header-text{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.header-text h5{
  font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
}
.header-text p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;  
}
.learn-more{
  color: white;
  background: #FF7D05;
border-radius: 5px;

}
.about-text{
  margin-top: 100px;
}
.about-text h5{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #333333;  
}
.about-text p{
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color: #333333;
}
.services{
  margin-top: 150px;
}
.card-text h4{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #333333;  
}
.card-text p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;  
}
#albums{
  background: #FEFAF5;
  margin-top: 150px;

}
.album{
padding-top: 100px;
}
.card{
  border: none !important;
}
.release{
  margin-top: 93px;
}
.card-columns{
  margin: auto;
}
#blog{
  background: #FEFAF5;
}